USE [master]
GO
CREATE DATABASE [AssignPRJ]
GO
USE [AssginPRJ]
GO
/****** Object:  Table [dbo].[CheckAttedance]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckAttedance](
	[CaID] [int] IDENTITY(1,1) NOT NULL,
	[SlotID] [int] NOT NULL,
	[SID] [int] NOT NULL,
	[CheckAttendance] [bit] NOT NULL,
	[Taker] [nvarchar](50) NOT NULL,
	[RecordTime] [datetime] NULL,
 CONSTRAINT [PK_CheckAttedance] PRIMARY KEY CLUSTERED 
(
	[CaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enroll]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enroll](
	[SID] [int] NOT NULL,
	[GroupID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [nchar](10) NOT NULL,
	[SubID] [int] NOT NULL,
	[Term] [nvarchar](50) NOT NULL,
	[Campus] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[InstructorID] [int] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[InstructorID] [int] IDENTITY(1,1) NOT NULL,
	[IName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomCode] [nvarchar](50) NOT NULL,
	[Campus] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Slot] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Slot] PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[Scode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Gender] [bit] NOT NULL,
	[img] [ntext] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/17/2022 6:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubID] [int] IDENTITY(1,1) NOT NULL,
	[SubCode] [nvarchar](50) NOT NULL,
	[SubName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Enroll] ([SID], [GroupID]) VALUES (3, 4)
INSERT [dbo].[Enroll] ([SID], [GroupID]) VALUES (7, 4)
INSERT [dbo].[Enroll] ([SID], [GroupID]) VALUES (8, 4)
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([GroupID], [GroupCode], [SubID], [Term], [Campus], [Department], [InstructorID]) VALUES (4, N'SE1647    ', 1, N'Summer2020', N'FU-HL', N'Computing Fundamental', 1)
INSERT [dbo].[Group] ([GroupID], [GroupCode], [SubID], [Term], [Campus], [Department], [InstructorID]) VALUES (5, N'GD1634    ', 2, N'Fall2020', N'FU-HL', N'Graphic Design', 1)
INSERT [dbo].[Group] ([GroupID], [GroupCode], [SubID], [Term], [Campus], [Department], [InstructorID]) VALUES (6, N'JPN1601   ', 3, N'Spring2021', N'FU-HL', N'Japanese', 1)
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructor] ON 

INSERT [dbo].[Instructor] ([InstructorID], [IName], [UserName], [password]) VALUES (1, N'Ngo Tung Son', N'sonnt', N'123')
INSERT [dbo].[Instructor] ([InstructorID], [IName], [UserName], [password]) VALUES (3, N'Dang Phung Khuong', N'khuongpd', N'123')
INSERT [dbo].[Instructor] ([InstructorID], [IName], [UserName], [password]) VALUES (4, N'Nguyen Nhat Linh', N'linhnl', N'123')
SET IDENTITY_INSERT [dbo].[Instructor] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [RoomCode], [Campus], [Capacity]) VALUES (1, N'DE101', N'FU-HL', 30)
INSERT [dbo].[Room] ([RoomID], [RoomCode], [Campus], [Capacity]) VALUES (2, N'BE101', N'FU-HL', 30)
INSERT [dbo].[Room] ([RoomID], [RoomCode], [Campus], [Capacity]) VALUES (3, N'DE102', N'FU-HL', 30)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([SlotID], [GroupID], [Date], [Slot], [RoomID], [status]) VALUES (1, 6, CAST(N'2022-06-20' AS Date), 5, 2, 0)
INSERT [dbo].[Slot] ([SlotID], [GroupID], [Date], [Slot], [RoomID], [status]) VALUES (2, 6, CAST(N'2022-06-20' AS Date), 4, 2, 0)
INSERT [dbo].[Slot] ([SlotID], [GroupID], [Date], [Slot], [RoomID], [status]) VALUES (3, 12, CAST(N'2022-06-20' AS Date), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 
INSERT [dbo].[Student] ([SID], [Scode], [FullName], [Gender], [img]) VALUES (1, N'HE153512', N'Le Van B', 1, N'https://scr.vn/wp-content/uploads/2020/07/Avatar-Facebook-tr%E1%BA%AFng.jpg')
INSERT [dbo].[Student] ([SID], [Scode], [FullName], [Gender], [img]) VALUES (2, N'HE153512', N'Dinh Van A', 1, N'https://scr.vn/wp-content/uploads/2020/07/Avatar-Facebook-tr%E1%BA%AFng.jpg')
INSERT [dbo].[Student] ([SID], [Scode], [FullName], [Gender], [img]) VALUES (6, N'HE153512', N'Le Hong Phuc', 1, N'https://scr.vn/wp-content/uploads/2020/07/Avatar-Facebook-tr%E1%BA%AFng.jpg')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubID], [SubCode], [SubName]) VALUES (1, N'WED201c', N'Web Design')
INSERT [dbo].[Subject] ([SubID], [SubCode], [SubName]) VALUES (2, N'2DP49', N'Digital project 2D')
INSERT [dbo].[Subject] ([SubID], [SubCode], [SubName]) VALUES (3, N'JPD113', N'Elementary Japanese 1-A1.1')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
ALTER TABLE [dbo].[CheckAttedance]  WITH CHECK ADD  CONSTRAINT [FK_CheckAttedance_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([SlotID])
GO
ALTER TABLE [dbo].[CheckAttedance] CHECK CONSTRAINT [FK_CheckAttedance_Slot]
GO
ALTER TABLE [dbo].[CheckAttedance]  WITH CHECK ADD  CONSTRAINT [FK_CheckAttedance_Student] FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[CheckAttedance] CHECK CONSTRAINT [FK_CheckAttedance_Student]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Group] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Group] ([GroupID])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_Enroll_Group]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Student] FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_Enroll_Student]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Instructor] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Instructor] ([InstructorID])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Instructor]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Subject] FOREIGN KEY([SubID])
REFERENCES [dbo].[Subject] ([SubID])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Subject]
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK_Slot_Room]
GO
USE [master]
GO
